Repository team-haribo/GOMS-Backend-V2, pull requests merged in 2024-02, with the labels that each got.

#168 🔀 :: n + 1 문제 해결
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/outing/repository/OutingJpaRepository.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/outing/repository/OutingRepositoryImpl.kt
Labels: 2️⃣ Priority: Medium, 🔨 코드 리팩터링

#170 🔀 :: 외출자 삭제 API
  goms-application/src/main/kotlin/com/goms/v2/domain/studentCouncil/usecase/DeleteOutingUseCase.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/global/security/config/SecurityConfig.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/StudentCouncilController.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/studentCouncil/StudentCouncilControllerTest.kt
Labels: 2️⃣ Priority: Medium, ✨ Feature, ✅ test

#172 🔀:::지각자 명단 불러오는 API 추가
  goms-application/src/main/kotlin/com/goms/v2/common/exception/ErrorCode.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/late/exception/LateAccountNotFound.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/studentCouncil/data/dto/LateAccountDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/studentCouncil/usecase/GetLateAccountUseCase.kt
  goms-domain/src/main/kotlin/com/goms/v2/repository/late/LateRepository.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/global/security/config/SecurityConfig.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/late/repository/LateJpaRepository.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/late/repository/LateRepositoryImpl.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/StudentCouncilController.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/dto/response/LateAccountHttpResponse.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/mapper/StudentCouncilDataMapper.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/studentCouncil/StudentCouncilControllerTest.kt
Labels: 2️⃣ Priority: Medium, ✨ Feature

#174 🔀::로그아웃 api 추가
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/usecase/LogoutUseCase.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/global/security/config/SecurityConfig.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/AuthController.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/auth/AuthControllerTest.kt
Labels: 2️⃣ Priority: Medium, ✨ Feature, ✅ test

#178 🔀 :: 로그아웃 usecase 테스트코드
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/usecase/LogoutUseCase.kt
  goms-application/src/test/kotlin/com/goms/v2/domain/auth/LogOutUseCaseTest.kt
Labels: 2️⃣ Priority: Medium, ✨ Feature

#181 🔀 :: dto major 필드 추가
  goms-application/src/main/kotlin/com/goms/v2/domain/studentCouncil/data/dto/AccountDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/studentCouncil/usecase/QueryAllAccountUseCase.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/studentCouncil/usecase/SearchAccountUseCase.kt
  goms-application/src/test/kotlin/com/goms/v2/domain/studentCouncil/QueryAllAccountUseCaseTest.kt
  goms-application/src/test/kotlin/com/goms/v2/domain/studentCouncil/SearchAccountUseCaseTest.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/dto/response/AllAccountHttpResponse.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/mapper/StudentCouncilDataMapper.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/studentCouncil/StudentCouncilControllerTest.kt
Labels: 2️⃣ Priority: Medium, 🔨 코드 리팩터링

#184 🔀 :: 학생 검색 쿼리문 수정
  goms-application/src/main/kotlin/com/goms/v2/domain/studentCouncil/data/dto/SearchAccountDto.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/account/repository/AccountRepositoryImpl.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/StudentCouncilController.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/studentCouncil/mapper/StudentCouncilDataMapper.kt
Labels: 2️⃣ Priority: Medium, 😈 버그 fix

#182 🔀 :: 프로필 이미지 수정
  buildSrc/src/main/kotlin/Dependencies.kt
  buildSrc/src/main/kotlin/DependenciesVersions.kt
  goms-application/build.gradle.kts
  goms-application/src/main/kotlin/com/goms/v2/common/exception/ErrorCode.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/account/exception/FileExtensionInvalidException.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/account/spi/S3UtillPort.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/account/usecase/UploadImageUseCase.kt
  goms-domain/src/main/kotlin/com/goms/v2/domain/account/Account.kt
  goms-infrastructure/build.gradle.kts
  goms-infrastructure/src/main/kotlin/com/goms/v2/GomsV2Application.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/global/security/config/SecurityConfig.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/thirdparty/aws/s3/AwsS3Config.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/thirdparty/aws/s3/S3UtilAdapter.kt
  goms-infrastructure/src/main/resources/application.yml
  goms-presentation/src/main/kotlin/com/goms/v2/domain/account/AccountController.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/account/AccountControllerTest.kt
Labels: 2️⃣ Priority: Medium, ✨ Feature, ✅ test

#188 🔀 :: 프로필 이미지 업로드 controller 테스트 코드
  goms-presentation/src/test/kotlin/com/goms/v2/domain/account/AccountControllerTest.kt
Labels: 2️⃣ Priority: Medium, ✅ test

#190 🔀 :: 프로필 이미지 업로드 usecase 테스트 코드
  goms-application/src/test/kotlin/com/goms/v2/domain/account/UploadImageUseCaseTest.kt
Labels: 2️⃣ Priority: Medium, ✅ test

#192 🔀 :: fcm 토큰 저장 usecase 테스트코드
  goms-application/src/test/kotlin/com/goms/v2/domain/notification/SetDeviceTokenUseCaseTest.kt
Labels: 2️⃣ Priority: Medium, ✅ test

#195 🔀 :: api access 권한 변경
  goms-infrastructure/src/main/kotlin/com/goms/v2/global/security/config/SecurityConfig.kt
Labels: 2️⃣ Priority: Medium, 🔨 코드 리팩터링

#197 🔀 :: 외출자 삭제 테스트 코드
  goms-application/src/test/kotlin/com/goms/v2/domain/studentCouncil/DeleteOutingUseCaseTest.kt
Labels: 2️⃣ Priority: Medium, ✅ test

#200 🔀 :: 비밀번호 정규식 변경
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/dto/request/SignUpHttpRequest.kt
Labels: 2️⃣ Priority: Medium, 🔨 코드 리팩터링
