Repository team-haribo/GOMS-Backend-V2, pull requests merged in 2024-01, with the labels that each got.

#152 🔀 :: response dto 필드 추가
  goms-application/src/main/kotlin/com/goms/v2/domain/account/data/dto/ProfileDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/account/usecase/QueryAccountProfileUseCase.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/late/data/dto/LateRankDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/late/usecase/QueryLateRankUseCase.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/outing/data/dto/OutingAccountDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/outing/usecase/QueryOutingAccountUseCase.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/outing/usecase/SearchOutingAccountUseCase.kt
  goms-application/src/test/kotlin/com/goms/v2/common/AnyValueObjectGenerator.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/account/dto/response/ProfileHttpResponse.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/account/mapper/AccountDataMapper.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/late/dto/LateRankHttpResponse.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/late/mapper/LateDataMapper.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/outing/dto/response/OutingAccountHttpResponse.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/outing/mapper/OutingDataMapper.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/account/AccountControllerTest.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/late/LateControllerTest.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/outing/OutingControllerTest.kt
Labels: 2️⃣ Priority: Medium, 🔨 코드 리팩터링

#154 🔀 :: 로그인 API
  .github/workflows/CD.yml
  goms-application/src/main/kotlin/com/goms/v2/common/exception/ErrorCode.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/data/dto/SignInDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/exception/PasswordNotMatchException.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/usecase/SignInUseCase.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/AuthController.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/dto/request/SignInHttpRequest.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/mapper/AuthDataMapper.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/auth/AuthControllerTest.kt
Labels: 1️⃣ Priority: High, ✨ Feature, ✅ test

#156 🔀 :: 회원가입 UseCase 테스트 코드
  goms-application/src/test/kotlin/com/goms/v2/domain/auth/SignUpUseCaseTest.kt
Labels: 2️⃣ Priority: Medium, ✅ test

#158 🔀 :: 로그인 UseCase 테스트 코드
  goms-application/src/test/kotlin/com/goms/v2/common/AnyValueObjectGenerator.kt
  goms-application/src/test/kotlin/com/goms/v2/domain/auth/SignInUseCase.kt
Labels: 2️⃣ Priority: Medium, ✅ test

#160 🔀 :: 이메일 인증 API
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/data/dto/SendAuthCodeDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/data/event/CreateAuthenticationEvent.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/data/event/CreateAuthenticationEventHandler.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/usecase/SendAuthCodeUseCase.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/usecase/VerifyAuthCodeUseCase.kt
  goms-domain/src/main/kotlin/com/goms/v2/domain/auth/AuthCode.kt
  goms-domain/src/main/kotlin/com/goms/v2/domain/auth/Authentication.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/global/security/config/SecurityConfig.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/account/mapper/AuthCodeMapper.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/entity/AuthCodeRedisEntity.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/entity/AuthenticationRedisEntity.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/mapper/AuthenticationMapper.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/repository/AuthCodeRedisRepository.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/repository/AuthCodeRepositoryImpl.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/repository/AuthenticationRedisRepository.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/repository/AuthenticationRepositoryImpl.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/thirdparty/email/EmailSendAdapter.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/AuthController.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/dto/request/SendAuthCodeHttpRequest.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/auth/mapper/AuthCodeDataMapper.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/auth/AuthControllerTest.kt
Labels: 2️⃣ Priority: Medium, ✨ Feature, ✅ test

#162 🔀 :: 회원가입 이메일 인증 로직 추가
  goms-application/src/main/kotlin/com/goms/v2/common/exception/ErrorCode.kt
  goms-application/src/main/kotlin/com/goms/v2/common/util/AuthenticationValidator.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/data/event/DeleteAuthenticationEvent.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/data/event/DeleteAuthenticationEventHandler.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/auth/usecase/SignUpUseCase.kt
  goms-application/src/test/kotlin/com/goms/v2/domain/auth/SignUpUseCaseTest.kt
  goms-domain/src/main/kotlin/com/goms/v2/repository/auth/AuthenticationRepository.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/auth/repository/AuthenticationRepositoryImpl.kt
Labels: 2️⃣ Priority: Medium, 🔨 코드 리팩터링

#164 🔀 :: 비밀번호 재설정 API
  goms-application/src/main/kotlin/com/goms/v2/common/exception/ErrorCode.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/account/data/dto/PasswordDto.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/account/exception/DuplicatedNewPasswordException.kt
  goms-application/src/main/kotlin/com/goms/v2/domain/account/usecase/UpdatePasswordUseCase.kt
  goms-domain/src/main/kotlin/com/goms/v2/domain/account/Account.kt
  goms-infrastructure/src/main/kotlin/com/goms/v2/persistence/account/entity/AccountJpaEntity.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/account/AccountController.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/account/dto/request/UpdatePasswordRequest.kt
  goms-presentation/src/main/kotlin/com/goms/v2/domain/account/mapper/AccountDataMapper.kt
  goms-presentation/src/test/kotlin/com/goms/v2/domain/account/AccountControllerTest.kt
Labels: 2️⃣ Priority: Medium, ✨ Feature, ✅ test

#166 🔀 :: 비밀번호 변경 usecase 테스트 코드
  goms-application/src/test/kotlin/com/goms/v2/domain/account/UpdatePasswordUseCaseTest.kt
Labels: 2️⃣ Priority: Medium, ✅ test
